.reveal .solution .solution-content {
    display: none;
    line-height: 28px;
}

.reveal .solution .hide-solution {
    display: none;
    cursor: pointer;
}

.reveal .solution .show-solution {
    cursor: pointer;
}


.reveal .solution .hide-solution i,
.reveal .solution .show-solution i {
    font-size: 30px;
    margin-right: 20px;
    vertical-align: middle;
}

.reveal .js .solution .show-solution {
    display: inline;
}
